.createButtonWrapper {
  width: 100%;
  margin-bottom: 12px;
}

.categories,
.categoriesList {
  max-width: 640px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.categoryConteiner {
  width: 100%;
}

.categories {
  padding: 0 18px;
}

.categoriesList {
  list-style: none;
}

.categoriesList:first-child {
	margin-top: 12px;
}