.createButtonWrapper {
  width: 100%;
  margin-bottom: 12px;
}

.categories,
.categoriesList {
  max-width: 640px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.categoryConteiner {
  width: 100%;
}

.categories {
  padding: 0 18px;
}

.categoriesList {
  list-style: none;
}

.categoriesList:first-child {
	margin-top: 12px;
}

.buttonsWrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	position: fixed;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 20000;
	background-color: #2E2F3C;
}

.buttons {
	width: 100%;
	max-width: var(--max-width);
	display: flex;
	gap: 25px;
}

.dragAndDropButton {
	transition: all 0.3s ease-in-out;
}

.dragAndDropButtonActive {
	filter: brightness(200%);
}