:root {
  --background-color: #1E1E27;
  --text-color: #FFFFFF;
  --max-width: 1300px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: var(--background-color);
  color: var(--text-color);
  max-height: 100vh;
}

main {
  margin: 0 auto;
  max-width: var(--max-width);
}